<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sleep VL Survey Data Portal</title>
    <link rel="stylesheet" href='{% static "css/sleepvl.css" %}'/>
    <link rel="stylesheet" href='{% static "css/mega-styles.css" %}'/>
    <link rel="stylesheet" href='{% static "css/screen-styles.css" %}'/>
</head>
<body>
<div id="custom-doc" class="yui-t7">
    <div id="header">
        <div class="logo">
            <a href="http://www.med.monash.edu.au/">
                <img width="386" height="64"
                     alt="Monash University, Medicine, Nursing and Health Sciences"
                     src='{% static "images/monash-med-logo.jpg" %}'>
            </a>
        </div>
        <div class="cl"></div>
        <div id="banner">
            <ul id="menu">
                <li class="home">
                    <h2><a href="/">
                        <span class="text">Home</span></a></h2>
                </li>
                <li class="survey">
                    <h2><a href="/survey">
                        <span class="text">Survey Data</span></a></h2>
                </li>
                 <li class="report">
                    <h2><a href="/reports">
                        <span class="text">Survery Reports</span></a></h2>
                </li>
                <li class="report">
                    <h2><a href="/latest">
                        <span class="text">Latest Survery Reports</span></a></h2>
                </li>
                <li class="contactus">
                    <h2><a href="#">
                        <span class="text">Contact Us</span></a></h2>
                </li>
            </ul>
        </div>
    </div>
    <h1>SleepVL Survey Data Portal</h1>

    <div id="mainContent">
        <div id="contentfull">

            <br/>
            <br/>
            Click the 'Survey Data' link to view all surveys
            <br/>
            <br/>
             Click the 'Survey Reports' link to view all reports
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
        <div style="clear: both"/>
    </div>
</div>
<div class="blank_separator"/>
<br/>
<div id="ft">
    <div id="logo2">
        <a href="http://www.m8alliance.org/">
            <img width="138" border="0" height="39" alt="M8 Alliance logo" src='{% static "images/m8-alliance.png" %}'>
        </a>
        <a href="http://www.go8.edu.au/">
            <img width="152" border="0" height="39" alt="Group of Eight logo" src='{% static "images/go8.png" %}'>
        </a>
    </div>
</div>
<div id="footer">
    <a href="http://www.copyright.monash.edu.au/">Copyright</a> &copy; 2015
    <a href="http://www.monash.edu.au/">Monash University</a> ABN 12 377 614 012 &ndash;
    <a href="http://www.monash.edu.au/legals/">Caution</a> &ndash;
    <a href="http://www.monash.edu.au/legals/privacy.html">Privacy</a> &ndash;
    <a href="http://www.monash.edu.au/international/ausgov/">CRICOS Provider Number: 00008C</a>
    <br>
    Maintained by
    <a href="mailto:webmaster@med.monash.edu.au?subject=Web enquiry">webmaster@med.monash.edu.au</a> &ndash;
    <a href="http://www.monash.edu.au/accessibility/">Accessibility information</a>
    <br>
    <br>
</div>

</body>
</html>